.error {

    .error-text {
        text-align: center;
        
        .status-message {
            color: $accent-color;
        }

        .error-fullword {
            display: flex;
            align-items: center;
            line-height: calc(10vmin + 100px);

            .error-word {
                font-size: calc(3rem + 20vmin);
                
            }
            

        }

    }

   
}
.err-btns {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
    justify-content: center;
}

.popup {
    position: fixed;
    z-index: 9999999;
    top: -2rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $background-contrast;
    padding: 5px 10px;
    border-radius: 6px;
    text-align: center;
    transition: 200ms ease;
    cursor: pointer;
    
    .popup-title {
        color: white;
        font-weight: 300;
    }
}

.popup-active {
    top: 2rem !important; 
}

.popup-success {
    background-color: green;
}

.popup-warning {
    background-color: orange;
}

.popup-error {
    background-color: red;
}

.loader-wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    justify-content: center;
    padding: 1rem;

    .loader {
        width: 48px;
        height: 48px;
        background: #fff;
        border-radius: 50%;
        position: relative;
        animation: skLinRotate 1s ease-in-out infinite alternate;
      }
      .loader:after{
        content:"";
        position: absolute;
        inset: 5px;
        border-radius: 50%;
        border: 5px solid transparent;
        border-top-color: $accent-color;
      }
      @keyframes skLinRotate {
        95% ,100% { transform: rotate(840deg) }
      }
}

.forgot-modal {
    background-color: $background-contrast;
    padding: 2rem 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    transition: 100ms ease;

    label {
        font-size: 1.15rem;
        text-align: center;
        color: $secondary-text;

    }

    .primary-btn {
        max-width: 100%;
        width: 100%;
    }

    
}

.no-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-column: 2/3;
    height: 100%;

    img {
        width: clamp(200px, 50%, 500px);
        
        object-fit: contain;
    }
}
