.error {

    .error-text {
        text-align: center;
        
   
        
        .status-message {
            font-size: calc(1rem + 2vmin);
            color: $accent-color;
        }

        .error-fullword {
            display: flex;
            align-items: center;
            line-height: calc(10vmin + 100px);

            .error-word {
                font-size: calc(3rem + 20vmin);
                
            }
            

        }

    }

   
}
.err-btns {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
    justify-content: center;
}

.popup {
    position: fixed;
    z-index: 999999;
    right: 1rem;
    border-radius: 8px;
    top: calc(100% - 5rem);
    background-color: $background-contrast;
    color: white;
    transition: 200ms ease;
    transform: translateX(150%);
    padding: .75em 1em;

    .popup-title {
        font-size: 1.15rem;
        color: white;
        font-weight: 400;
    }
}

.popup-active {
    transform: translateX(0%) !important; 
}

.popup-success {
    background-color: green;

}
.popup-warning {
    background-color: orange;
}
.popup-error {
    background-color: red;
}