* {
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

img {
    max-width: 100%;
}

button, input, textarea {
    outline: none;
    border: none;
    font-family: $ff-body !important;

}

a {
    text-decoration: none;
    color: darkcyan;
}
::selection {
    background-color: $accent-color;
    color: white;
}

body {
    font-family: $ff-body;
    background-color: $primary-background;
    color: $primary-text;
    font-weight: 400;

}

#root {
    display: grid;
    grid-template-rows: 80px minmax(calc(100vh - 200px), auto);
}

.accent {
    color: $accent-color;
}

.accent-font {
    font-family: $ff-accent;
}

.secondary-text {
    color: $secondary-text;
    text-align: center;
}

.m3 {
    font-size: calc(3.5vmin + 1.5rem) !important;
}
.m2 {
    font-size: calc(1vmin + 1rem) !important;
}
.m1 {
    font-size: 1rem;
}

.section-spacing {
    margin: 200px 0;
    
}

input {
    background-color: $background-contrast;
    outline: 2px solid $accent-color;
    font-size: 1.25rem;
    color: white;
    padding: .75em;
    width: 100%;
    border-radius: 4px;
    transition: 200ms ease;
    
}
input:hover {
    outline: 2px solid $btn-hover;

}
input:focus {
    background-color:$primary-background ;
}
