* {
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

img {
    max-width: 100%;
}

button, input, textarea {
    outline: none;
    border: none;
    font-family: $ff-body !important;

}

a {
    text-decoration: none;
    color: darkcyan;
}
::selection {
    background-color: $accent-color;
    color: white;
}


body {
    font-family: $ff-body;
    background-color: $primary-background;
    color: $primary-text;
    font-weight: 400;

}

#root {
    display: grid;
    grid-template-rows: auto;
}

.accent {
    color: $accent-color;
}

.accent-font {
    font-family: $ff-accent;
}

.secondary-text {
    color: $secondary-text;
    text-align: center;
}

.m6  { // big titles
    font-size: .75 !important;
}
.m5 { // small details
    font-size: calc(1rem) !important;
}
.m4 { // also description
    font-size: calc(1rem + .25vmin) !important;
}
.m3 { // description
    font-size: calc(1.15rem + .75vmin) !important;
}
.m2 { // small details
    font-size: calc(1rem + 2vmin) !important;
}
.m1 { // big titles
    font-size: calc(1.5rem + 2vmin) !important;
}

.section-spacing {
    margin: 200px 0;
    
}


input, textarea {
    background-color: $background-contrast;
    outline: 2px solid $accent-color;
    font-size: 1.25rem;
    color: white;
    padding: .75em;
    width: 100%;
    border-radius: 4px;
    transition: 200ms ease;
    
}
textarea {
    resize: none;
}
input:hover, textarea:hover {
    outline: 2px solid $btn-hover;

}
input:focus, textarea:focus {
    background-color:$primary-background ;
}

::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: $background-contrast;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $accent-color;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: white;
    }
    .switch-wrapper {
        margin-left: auto;
    }
    #forgot-pwd {
        text-align: right;
        cursor: pointer;
        transition: 200ms ease;
    }
    #forgot-pwd:hover {
        color: #fff;
    }
    .cl-toggle-switch {
        position: relative;
       }
    
       .cl-switch {
        position: relative;
        display: inline-block;
        cursor: pointer;

       }
       /* Input */
       .cl-switch > input {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        z-index: -1;
        position: absolute;
        right: 6px;
        top: -8px;
        display: block;
        margin: 0;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: rgb(0, 0, 0, 0.38);
        outline: none;
        opacity: 0;
        transform: scale(1);
        pointer-events: none;
        transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
       }
       /* Track */
       .cl-switch > span::before {
        content: "";
        display: inline-block;
        margin: 5px 0 5px 10px;
        border-radius: 7px;
        width: 36px;
        height: 14px;
        background-color: rgb(0, 0, 0, 0.38);
        vertical-align: top;
        transition: background-color 0.2s, opacity 0.2s;
       }
       /* Thumb */
       .cl-switch > span::after {
        content: "";
        position: absolute;
        top: 2px;
        right: 16px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background-color: #fff;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        transition: background-color 0.2s, transform 0.2s;
       }
       /* Checked */
       .cl-switch > input:checked {
        right: -10px;
        background-color: $accent-color;
       }
       
       .cl-switch > input:checked + span::before {
        background-color: white;
       }
       
       .cl-switch > input:checked + span::after {
        background-color: $accent-color;
        transform: translateX(16px);
       }
       /* Hover, Focus */
       .cl-switch:hover > input {
        opacity: 0.04;
       }
       
       .cl-switch > input:focus {
        opacity: 0.12;
       }
       
       .cl-switch:hover > input:focus {
        opacity: 0.16;
       }
       /* Active */
       .cl-switch > input:active {
        opacity: 1;
        transform: scale(0);
        transition: transform 0s, opacity 0s;
       }
       
       .cl-switch > input:active + span::before {
        background-color: #8f8f8f;
       }
       
       .cl-switch > input:checked:active + span::before {
        background-color: #85b8b7;
       }
       /* Disabled */
       .cl-switch > input:disabled {
        opacity: 0;
       }
       
       .cl-switch > input:disabled + span::before {
        background-color: #ddd;
       }
       
       .cl-switch > input:checked:disabled + span::before {
        background-color: #bfdbda;
       }
       
       .cl-switch > input:checked:disabled + span::after {
        background-color: #61b5b4;
       }


       input:-webkit-autofill{
        -webkit-text-fill-color: $primary-text !important;
        transition: 200ms ease;
        }     
        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus, 
        input:-webkit-autofill:active{
            -webkit-box-shadow: 0 0 0 30px $background-contrast inset !important;
        }

.z-3 {
    z-index: 999;
}
.z-2 {
    z-index: 99;
}
.z-1 {
    z-index: 1;
}
.z-0 {
    z-index: -1;
}