@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
// @font-face {
//     font-family: Inter;
//     src: url('../../assets/fonts/Inter/static/Inter-Regular.ttf');
// }
$ff-body :  var(--ff-body, 'Poppins');
$ff-logo :  var(--ff-logo, 'Righteous');
$ff-accent: var(--ff-accent, 'Indie Flower');

$primary-background: var(--primary-background, #121212);
$background-contrast: var(--background-contrast, #1C1C1C);

$primary-color: var(--primary-color, #90564358);
$accent-color:  var(--accent-color, #D09683);

$btn-hover: var(--btn-hover, #d09683cb);

$primary-text:  var(--primary-text, #FFFFFF);
$secondary-text: var(--secondary-text, #FFFFFF80);

