.form {
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100svh;

    .form-wrapper {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        min-height: 600px;
        max-height: 800px;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: $background-contrast;
        border-radius: 8px;
        box-shadow: 0 4px 5px #00000030;
        overflow: hidden;
        
        
        .form-left {
            padding: 3vw;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            
            .input {
                position: relative;

                .see-password {
                    position: absolute;
                    top: 50%;
                    cursor: pointer;
                    right: .5rem;
                    transition: 200ms ease;
                    transform: translate(-50%, -50%);
                }
                .see-password:hover {
                    color: $accent-color;
                }
                .see-password:active {
                    scale: .9;
                }
                

            }

            .m3 {
                font-size: 2rem !important;
            }

            .login-form {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;
                max-width: 100%;
                
                input {
                    max-width: 100%;
                }

                .submit-btn {
                    font-size: 1.25rem;
                    padding: .75rem;
                }
            }
            
        }

        .form-right {
            background-color: $accent-color;
            border-radius: 0 8px 8px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            text-align: center;
            width: 100%;
            overflow: hidden;
            position: relative;
            
            .form-svg {
                position: absolute;
                z-index: 1;
                left: 0%;
                top: 5%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }
            .form-svg:last-child {
                top: 95%;
            }
          
            
            .other-form-method {
                position: relative;
                z-index: 99;
                h1 {
                    font-weight: 400;
                }
                
            }
        }

    }
    
}

.errors {
    .error-message {
        color: rgb(170, 0, 0);
    }
}

@media (max-width: 900px) {

    .form {

        .form-wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr minmax(200px, 300px);

            .form-left {
                padding: 5vw;
            }
            .form-right {
                border-radius: 0 0 8px 8px;
            }
            

        }

    }

}