//hero

.hero {
    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns:25% 50% 25%;
    grid-template-rows: 20% 70% 10%;
    margin-top: 80px;

    .hero-header {
        grid-column: 1/4;
        text-align: center;
        z-index: 2;
        position: static;

        #hero-title {
            line-height: 70px;
        }
        #hero-description {
            color: $secondary-text;
            
        }
        div {
            display: flex;
            gap: 1rem;
            align-items: center;
            position: relative;
            width: fit-content;
            margin: 0 auto;
        }

        .hero-arrow-svg {
            max-width: 100px;
            position: absolute;
            right: -100px;
            top: 25px;            
        }
    }

    .hero-left, .hero-right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        h1 {
            margin-bottom: .5rem;
        }
    }

    .hero-left {

        p {
            line-height: 0;
        }

        #hero-dinamic-text {
            font-weight: 400;
        }

        .hero-underline-svg {
            max-width: 250px;
            width: 100%;
            
        }
    }

    .hero-middle {
        display: grid;
        grid-template-rows: 90% 10%;
        height: 100%;

        .hero-slideshow {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            height: 100%;
            width: 100%;
            border-radius: 8px;

            .hero-slideshow-image {
                flex: none;
                transition: .5s ease;
                width: 100%;
                height: 100%;
                object-fit: contain;

            }
        }

        .hero-slideshow-buttons {
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            list-style-type: none;

            .hero-slideshow-button {
                background-color: $background-contrast;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                transition: 200ms ease;
            }
            .hero-slideshow-button:not(.hero-slideshow-button-active):hover {
                background-color: $primary-color;
            }
            .hero-slideshow-button-active {
                background-color: $accent-color;
            }

        }

    }

    .hero-right {

        .primary-text {
            font-weight: 400;

        }

    }

    .svg-test {
        grid-column: 1/4;
        pointer-events: none;
    }
  
    .hero-wave-svg {
        width: 100%;  
        transition: 400ms ease;
        transform: translateY(0%);

    }
    .svg-test-hidden {
        transform: translateY(100%);
        opacity: 0;
    }


}

// feed
.feed {
    height: 100vh;
    display: grid;
    grid-template-rows: 40% 60%;
    text-align: center;
    

    .feed-header {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        padding: .5rem;

        .search-feed-wrapper {
            background-color: $primary-color;
            border-radius: 4px;
            position: relative;
            display: grid;
            grid-template-columns: auto 50px;

            .search-icon-wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                position: relative;
                border-radius: 0 8px 8px 0;
                transition: 200ms ease;
            }
            .search-icon-wrapper:hover {
                background-color: $accent-color;

                #search-icon {
                    transform: translateY(-2px);
                }
            }
            
            .search-icon-wrapper::before {
                content: '';
                width: 2px;
                height: 100%;
                background-color: $accent-color;
                opacity: .4;
                position: absolute;
                left: 0;
                top: 0;
            }

            #search-icon {
                font-size: 25px;
                cursor: pointer;
                transition: 200ms ease;

            }
           

            #search-feed {
                border: none;
                background-color: transparent;
                outline: none;
                font-size: 1.25rem;
                color: white;
                text-align: center;
                height: 100%;
                width: 100%;
                padding: 1rem  2rem;
                border-radius: 4px 0 0 4px;
                outline: 1px solid transparent;
                transition: 200ms ease;
            }

            #search-feed:focus {
                background-color: $background-contrast;
                outline: 1px solid $accent-color;
            }

        }



    }

    .feed-content {
        display: grid;
        row-gap: 1rem;

        .feed-row {
            display: flex;
            flex-direction: row;
            padding: 0 1rem;
            column-gap: 1rem;
            overflow: hidden;
            padding: .5rem;

            .feed-item {
                max-width: 100%;
                width: 100%;
                min-width: 300px;
                cursor: pointer;
                height: 100%;
                border-radius: 8px;
                background-color: $background-contrast;
                transition: 200ms ease;
                outline: 2px solid transparent;

            }
            .feed-item:hover {
                outline: 2px solid $accent-color;
                box-shadow: 0 4px 5px #00000060;
            }
            
        }
    }

}

//reviews

.reviews {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: .5rem;
    position: relative;
    overflow: hidden;
    
    
    svg {
        position: absolute;
        max-height: 700px;
        height: 100%;
        top: 60%;
        z-index: -1;
        left: 0%;
        transform: translate(-50%, -50%);
    }

    #reviews-right-svg {
        left: 95%;
    }

    .reviews-titles {
        text-align: center;

        h1 {
            line-height: 70px;
            
        }
    }
    

    .reviews-wrapper {
        max-width: 800px;
        margin: 0 auto;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-auto-flow: dense;
        grid-template-areas: 
        "l s"
        "l b"
        "m b";
        
        
        .review {
            border-radius: 8px;
            background-color: $background-contrast;
            display: flex;
            flex-direction: column;
            transition: 200ms ease;
            outline: 2px solid transparent;
            
            .review-header {
                display: flex;
                justify-content: space-between;
                padding: .5rem;
                align-items: center;

                .user {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    font-size: 1.55rem;
                }

                .review-user-image {
                    width: 60px;
                    height: 60px;
                    object-fit: cover;
                    border-radius: 50px;
                }

                .rating {
                    display: flex;
                    align-items: baseline;
                    gap: 2px;
                    font-size: 1.25rem;

                    i {
                        color: rgb(255, 215, 0);
                        
                    }
                }

            }

            .review-text {
                padding: 1rem .5rem;
                border-radius: 8px;
                box-shadow: 0 -4px 5px #00000060;
                line-height: 27px;
                font-size: 1.05rem;
                height: 100%;

                p {
                    display: -webkit-box;
                    -webkit-line-clamp: 10;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
    

        }

        .review:hover {
            outline: 2px solid #ffffff43;
            scale: 1.05;
        }

        .review:nth-child(1) {
            grid-area: l;

            .review-text {
                background-color: #90564358;
            }
        }
        .review:nth-child(2) {
            grid-area: s;

            .review-text {
                background-color: #43906758;
            }
        }
        .review:nth-child(3) {
            grid-area: m;

            .review-text {
                background-color: #7C904358;
            }
        }
        .review:nth-child(4) {
            grid-area: b;

            .review-text {
                background-color: #7E2F2F58;
            }
        }
    }

}





//medias
@media (max-width: 1300px) {
    .hero {
       grid-template-columns: 50% 50%;
       grid-template-rows: 20% 50% 20% 10%;
        
        .hero-middle {
            grid-column: 1/3;
            padding: 1rem;

            .hero-slideshow {
                max-width: 900px;
                margin: 0 auto;
                
                img {
                    object-fit: contain;
                }
            }
        }

        
            
       .hero-left, .hero-right {
        grid-row: 3;
       }
       
    }
}

@media (max-width: 700px) {

    .reviews {
        .reviews-wrapper {
            display: flex;
            flex-direction: column;

        }
    }

    .hero {

        .hero-arrow-svg {
            display: none;
        }

        .hero-middle {
            grid-column: 1/3;
            padding: 1rem;

            .hero-slideshow {
                max-width: 900px;
                margin: 0 auto;

                img {
                    object-fit: contain;
                    
                }
            }
        }

       .hero-left, .hero-right {
            grid-row: 3;
       }
       
       .hero-wave-svg {
            height: 100%;
        
        }

    }
}

@media (max-width: 600px) {
    .hero {
        grid-template-columns: 1fr;
        grid-template-rows: 20% 35% 15% 20% 10%;

        .hero-header {
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            
            #hero-title {
                line-height: 50px;
            }

            #hero-description {
                font-size: 1rem;
            }
        }

        .hero-right, .hero-left {
            
            h1 {
                font-size: 1.5rem;
            }
        }
        .hero-right {
            grid-row: 4;
        }
        .hero-left {
            grid-row: 3;
        }
    } 
    
}
