@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
  margin: 0;
  padding: 0;
  top: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

img {
  max-width: 100%;
}

button, input, textarea {
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif !important;
}

a {
  text-decoration: none;
  color: darkcyan;
}

::-moz-selection {
  background-color: #D09683;
  color: white;
}

::selection {
  background-color: #D09683;
  color: white;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #121212;
  color: #FFFFFF;
  font-weight: 400;
}

#root {
  display: grid;
  grid-template-rows: 80px auto;
}

.accent {
  color: #D09683;
}

.accent-font {
  font-family: "Indie Flower", cursive;
}

.secondary-text {
  color: rgba(255, 255, 255, 0.5019607843);
}

.navbar {
  width: 100%;
  background-color: #121212;
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
}
.navbar #logo {
  font-size: 3rem;
  font-family: "Righteous";
  cursor: pointer;
  transition: 200ms ease;
}
.navbar #logo:active {
  scale: 0.95;
}
.navbar #logo::first-letter {
  color: #D09683;
}

button {
  font-family: "Inter";
  cursor: pointer;
}

.secondary-btn {
  padding: 0.5em 0.9em;
  font-size: 1.25rem;
  background-color: transparent;
  color: #FFFFFF;
  outline: none;
  border: none;
  border: 2px dashed #D09683;
  border-radius: 8px;
  transition: 200ms ease;
}

.secondary-btn:hover {
  border: 2px dotted #D09683;
  transform: translateY(-2px);
}

.secondary-btn:active {
  scale: 0.9;
}

.primary-btn {
  padding: 0.5em 0.9em;
  font-size: 1.15rem;
  background-color: #D09683;
  color: #FFFFFF;
  outline: none;
  border: none;
  border: 2px solid rgba(144, 86, 67, 0.3450980392);
  border-radius: 8px;
  transition: 100ms ease;
  box-shadow: 0 4px 0 rgba(144, 86, 67, 0.3450980392);
}

.primary-btn:hover {
  background-color: rgba(208, 150, 131, 0.7960784314);
}

.primary-btn:active {
  transform: translateY(4px);
  box-shadow: 0 1px 0 rgba(144, 86, 67, 0.3450980392);
}

.hero {
  height: calc(100vh - 80px);
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 20% 67% 7%;
}
.hero .hero-header {
  grid-column: 1/4;
  text-align: center;
  z-index: 2;
  position: static;
}
.hero .hero-header #hero-title {
  font-size: calc(3vmin + 2rem);
  line-height: 70px;
}
.hero .hero-header #hero-description {
  color: rgba(255, 255, 255, 0.5019607843);
  font-size: calc(1vmin + 1rem);
}
.hero .hero-header div {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.hero .hero-header .hero-arrow-svg {
  max-width: 100px;
  position: absolute;
  right: -100px;
  top: 25px;
}
.hero .hero-left, .hero .hero-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero .hero-left h1, .hero .hero-right h1 {
  margin-bottom: 0.5rem;
}
.hero .hero-left p {
  line-height: 0;
}
.hero .hero-left #hero-dinamic-text {
  font-weight: 400;
}
.hero .hero-left .hero-underline-svg {
  max-width: 250px;
  width: 100%;
}
.hero .hero-middle {
  display: grid;
  grid-template-rows: 90% 10%;
  height: 100%;
}
.hero .hero-middle .hero-slideshow {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
.hero .hero-middle .hero-slideshow .hero-slideshow-image {
  flex: none;
  transition: 0.5s ease;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero .hero-middle .hero-slideshow-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.hero .hero-middle .hero-slideshow-buttons .hero-slideshow-button {
  background-color: #1C1C1C;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  transition: 200ms ease;
}
.hero .hero-middle .hero-slideshow-buttons .hero-slideshow-button:not(.hero-slideshow-button-active):hover {
  background-color: rgba(144, 86, 67, 0.3450980392);
}
.hero .hero-middle .hero-slideshow-buttons .hero-slideshow-button-active {
  background-color: #D09683;
}
.hero .hero-right .primary-text {
  font-weight: 400;
}
.hero .svg-test {
  grid-column: 1/4;
  overflow: hidden;
}
.hero .hero-wave-svg {
  width: 100%;
}

@media (max-width: 1300px) {
  .hero {
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 50% 20% 10%;
  }
  .hero .hero-middle {
    grid-column: 1/3;
    padding: 1rem;
  }
  .hero .hero-middle .hero-slideshow {
    max-width: 900px;
    margin: 0 auto;
  }
  .hero .hero-middle .hero-slideshow img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .hero .hero-left, .hero .hero-right {
    grid-row: 3;
  }
}
@media (max-width: 700px) {
  .hero .hero-arrow-svg {
    display: none;
  }
  .hero .hero-middle {
    grid-column: 1/3;
    padding: 1rem;
  }
  .hero .hero-middle .hero-slideshow {
    max-width: 900px;
    margin: 0 auto;
  }
  .hero .hero-middle .hero-slideshow img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .hero .hero-left, .hero .hero-right {
    grid-row: 3;
  }
  .hero .hero-wave-svg {
    height: 100%;
  }
}
@media (max-width: 600px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: 20% 35% 15% 20% 10%;
  }
  .hero .hero-header {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .hero .hero-header #hero-title {
    line-height: 50px;
  }
  .hero .hero-header #hero-description {
    font-size: 1rem;
  }
  .hero .hero-right h1, .hero .hero-left h1 {
    font-size: 1.5rem;
  }
  .hero .hero-right {
    grid-row: 4;
  }
  .hero .hero-left {
    grid-row: 3;
  }
}/*# sourceMappingURL=main.css.map */