@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
  margin: 0;
  padding: 0;
  top: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

img {
  max-width: 100%;
}

button, input, textarea {
  outline: none;
  border: none;
  font-family: var(--ff-body, "Poppins") !important;
}

a {
  text-decoration: none;
  color: darkcyan;
}

::-moz-selection {
  background-color: var(--accent-color, #D09683);
  color: white;
}

::selection {
  background-color: var(--accent-color, #D09683);
  color: white;
}

body {
  font-family: var(--ff-body, "Poppins");
  background-color: var(--primary-background, #121212);
  color: var(--primary-text, #FFFFFF);
  font-weight: 400;
}

#root {
  display: grid;
  grid-template-rows: auto;
}

.accent {
  color: var(--accent-color, #D09683);
}

.accent-font {
  font-family: var(--ff-accent, "Indie Flower");
}

.secondary-text {
  color: var(--secondary-text, rgba(255, 255, 255, 0.5019607843));
  text-align: center;
}

.m3 {
  font-size: calc(3.5vmin + 1.5rem) !important;
}

.m2 {
  font-size: calc(1vmin + 1rem) !important;
}

.m1 {
  font-size: 1rem;
}

.section-spacing {
  margin: 200px 0;
}

input, textarea {
  background-color: var(--background-contrast, #1C1C1C);
  outline: 2px solid var(--accent-color, #D09683);
  font-size: 1.25rem;
  color: white;
  padding: 0.75em;
  width: 100%;
  border-radius: 4px;
  transition: 200ms ease;
}

textarea {
  resize: none;
}

input:hover, textarea:hover {
  outline: 2px solid var(--btn-hover, rgba(208, 150, 131, 0.7960784314));
}

input:focus, textarea:focus {
  background-color: var(--primary-background, #121212);
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-contrast, #1C1C1C);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color, #D09683);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.switch-wrapper {
  margin-left: auto;
}

#forgot-pwd {
  text-align: right;
  cursor: pointer;
  transition: 200ms ease;
}

#forgot-pwd:hover {
  color: #fff;
}

.cl-toggle-switch {
  position: relative;
}

.cl-switch {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Input */
.cl-switch > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  right: 6px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.38);
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
}

/* Track */
.cl-switch > span::before {
  content: "";
  display: inline-block;
  margin: 5px 0 5px 10px;
  border-radius: 7px;
  width: 36px;
  height: 14px;
  background-color: rgba(0, 0, 0, 0.38);
  vertical-align: top;
  transition: background-color 0.2s, opacity 0.2s;
}

/* Thumb */
.cl-switch > span::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 16px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: background-color 0.2s, transform 0.2s;
}

/* Checked */
.cl-switch > input:checked {
  right: -10px;
  background-color: var(--accent-color, #D09683);
}

.cl-switch > input:checked + span::before {
  background-color: white;
}

.cl-switch > input:checked + span::after {
  background-color: var(--accent-color, #D09683);
  transform: translateX(16px);
}

/* Hover, Focus */
.cl-switch:hover > input {
  opacity: 0.04;
}

.cl-switch > input:focus {
  opacity: 0.12;
}

.cl-switch:hover > input:focus {
  opacity: 0.16;
}

/* Active */
.cl-switch > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.cl-switch > input:active + span::before {
  background-color: #8f8f8f;
}

.cl-switch > input:checked:active + span::before {
  background-color: #85b8b7;
}

/* Disabled */
.cl-switch > input:disabled {
  opacity: 0;
}

.cl-switch > input:disabled + span::before {
  background-color: #ddd;
}

.cl-switch > input:checked:disabled + span::before {
  background-color: #bfdbda;
}

.cl-switch > input:checked:disabled + span::after {
  background-color: #61b5b4;
}

.z-top {
  z-index: 999;
}

.z-middle {
  z-index: 99;
}

.z-last {
  z-index: 9;
}

.navbar {
  width: 100%;
  background-color: var(--primary-background, #121212);
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  position: fixed;
  z-index: 999999;
  background-color: var(--primary-background, #121212);
  justify-content: space-between;
}
.navbar #logo {
  font-size: 3rem;
  font-family: "Righteous";
  cursor: pointer;
  transition: 200ms ease;
}
.navbar #logo:active {
  scale: 0.95;
}
.navbar #logo::first-letter {
  color: var(--accent-color, #D09683);
}

.footer {
  background-color: var(--background-contrast, #1C1C1C);
  width: 100%;
  display: grid;
  padding: 0.5rem;
  height: 120px;
}
.footer #copyright {
  text-align: center;
}

button {
  font-family: "Inter";
  cursor: pointer;
}

.secondary-btn {
  padding: 0.5em 0.9em;
  font-size: 1.25rem;
  background-color: transparent;
  color: var(--primary-text, #FFFFFF);
  outline: none;
  border: none;
  border: 2px dashed var(--accent-color, #D09683);
  border-radius: 8px;
  transition: 200ms ease;
}

.secondary-btn:hover {
  border: 2px dotted var(--accent-color, #D09683);
  transform: translateY(-2px);
}

.secondary-btn:active {
  scale: 0.9;
}

.primary-btn {
  padding: 0.5em 0.9em;
  font-size: 1.15rem;
  background-color: var(--accent-color, #D09683);
  color: var(--primary-text, #FFFFFF);
  outline: none;
  border: none;
  border: 2px solid var(--primary-color, rgba(144, 86, 67, 0.3450980392));
  border-radius: 8px;
  transition: 100ms ease;
  box-shadow: 0 4px 0 var(--primary-color, rgba(144, 86, 67, 0.3450980392));
}

.primary-btn:hover {
  background-color: var(--btn-hover, rgba(208, 150, 131, 0.7960784314));
}

.primary-btn:active {
  transform: translateY(4px);
  box-shadow: 0 1px 0 var(--primary-color, rgba(144, 86, 67, 0.3450980392));
}

.error .error-text {
  text-align: center;
}
.error .error-text .status-message {
  font-size: calc(1rem + 2vmin);
  color: var(--accent-color, #D09683);
}
.error .error-text .error-fullword {
  display: flex;
  align-items: center;
  line-height: calc(10vmin + 100px);
}
.error .error-text .error-fullword .error-word {
  font-size: calc(3rem + 20vmin);
}

.err-btns {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
  justify-content: center;
}

.popup {
  position: fixed;
  z-index: 999999;
  right: 1rem;
  border-radius: 8px;
  top: calc(100% - 5rem);
  background-color: var(--background-contrast, #1C1C1C);
  color: white;
  transition: 200ms ease;
  transform: translateX(150%);
  padding: 0.75em 1em;
}
.popup .popup-title {
  font-size: 1.15rem;
  color: white;
  font-weight: 400;
}

.popup-active {
  transform: translateX(0%) !important;
}

.popup-success {
  background-color: green;
}

.popup-warning {
  background-color: orange;
}

.popup-error {
  background-color: red;
}

.loader-wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  justify-content: center;
  padding: 1rem;
}
.loader-wrapper .loader {
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  -webkit-animation: skLinRotate 1s ease-in-out infinite alternate;
          animation: skLinRotate 1s ease-in-out infinite alternate;
}
.loader-wrapper .loader:after {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: var(--accent-color, #D09683);
}
@-webkit-keyframes skLinRotate {
  95%, 100% {
    transform: rotate(840deg);
  }
}
@keyframes skLinRotate {
  95%, 100% {
    transform: rotate(840deg);
  }
}

.forgot-modal {
  background-color: var(--background-contrast, #1C1C1C);
  padding: 2rem 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}
.forgot-modal label {
  font-size: 1.15rem;
  text-align: center;
  color: var(--secondary-text, rgba(255, 255, 255, 0.5019607843));
}
.forgot-modal .primary-btn {
  max-width: 100%;
  width: 100%;
}

.hero {
  height: calc(100vh - 80px);
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 20% 70% 10%;
  margin-top: 80px;
}
.hero .hero-header {
  grid-column: 1/4;
  text-align: center;
  z-index: 2;
  position: static;
}
.hero .hero-header #hero-title {
  line-height: 70px;
}
.hero .hero-header #hero-description {
  color: var(--secondary-text, rgba(255, 255, 255, 0.5019607843));
}
.hero .hero-header div {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.hero .hero-header .hero-arrow-svg {
  max-width: 100px;
  position: absolute;
  right: -100px;
  top: 25px;
}
.hero .hero-left, .hero .hero-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero .hero-left h1, .hero .hero-right h1 {
  margin-bottom: 0.5rem;
}
.hero .hero-left p {
  line-height: 0;
}
.hero .hero-left #hero-dinamic-text {
  font-weight: 400;
}
.hero .hero-left .hero-underline-svg {
  max-width: 250px;
  width: 100%;
}
.hero .hero-middle {
  display: grid;
  grid-template-rows: 90% 10%;
  height: 100%;
}
.hero .hero-middle .hero-slideshow {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
.hero .hero-middle .hero-slideshow .hero-slideshow-image {
  flex: none;
  transition: 0.5s ease;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero .hero-middle .hero-slideshow-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.hero .hero-middle .hero-slideshow-buttons .hero-slideshow-button {
  background-color: var(--background-contrast, #1C1C1C);
  width: 10px;
  height: 10px;
  border-radius: 5px;
  transition: 200ms ease;
}
.hero .hero-middle .hero-slideshow-buttons .hero-slideshow-button:not(.hero-slideshow-button-active):hover {
  background-color: var(--primary-color, rgba(144, 86, 67, 0.3450980392));
}
.hero .hero-middle .hero-slideshow-buttons .hero-slideshow-button-active {
  background-color: var(--accent-color, #D09683);
}
.hero .hero-right .primary-text {
  font-weight: 400;
}
.hero .svg-test {
  grid-column: 1/4;
  pointer-events: none;
}
.hero .hero-wave-svg {
  width: 100%;
  transition: 400ms ease;
  transform: translateY(0%);
}
.hero .svg-test-hidden {
  transform: translateY(100%);
  opacity: 0;
}

.feed {
  height: 100vh;
  display: grid;
  grid-template-rows: 40% 60%;
  text-align: center;
}
.feed .feed-header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
}
.feed .feed-header .search-feed-wrapper {
  background-color: var(--primary-color, rgba(144, 86, 67, 0.3450980392));
  border-radius: 4px;
  position: relative;
  display: grid;
  grid-template-columns: auto 50px;
}
.feed .feed-header .search-feed-wrapper .search-icon-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  border-radius: 0 8px 8px 0;
  transition: 200ms ease;
}
.feed .feed-header .search-feed-wrapper .search-icon-wrapper:hover {
  background-color: var(--accent-color, #D09683);
}
.feed .feed-header .search-feed-wrapper .search-icon-wrapper:hover #search-icon {
  transform: translateY(-2px);
}
.feed .feed-header .search-feed-wrapper .search-icon-wrapper::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--accent-color, #D09683);
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
}
.feed .feed-header .search-feed-wrapper #search-icon {
  font-size: 25px;
  cursor: pointer;
  transition: 200ms ease;
}
.feed .feed-header .search-feed-wrapper #search-feed {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.25rem;
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 4px 0 0 4px;
  outline: 1px solid transparent;
  transition: 200ms ease;
}
.feed .feed-header .search-feed-wrapper #search-feed:focus {
  background-color: var(--background-contrast, #1C1C1C);
  outline: 1px solid var(--accent-color, #D09683);
}
.feed .feed-content {
  display: grid;
  row-gap: 1rem;
}
.feed .feed-content .feed-row {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  overflow: hidden;
  padding: 0.5rem;
}
.feed .feed-content .feed-row .feed-item {
  max-width: 100%;
  width: 100%;
  min-width: 300px;
  cursor: pointer;
  height: 100%;
  border-radius: 8px;
  background-color: var(--background-contrast, #1C1C1C);
  transition: 200ms ease;
  outline: 2px solid transparent;
}
.feed .feed-content .feed-row .feed-item:hover {
  outline: 2px solid var(--accent-color, #D09683);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3764705882);
}

.reviews {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
}
.reviews svg {
  position: absolute;
  max-height: 700px;
  height: 100%;
  top: 60%;
  z-index: -1;
  left: 0%;
  transform: translate(-50%, -50%);
}
.reviews #reviews-right-svg {
  left: 95%;
}
.reviews .reviews-titles {
  text-align: center;
}
.reviews .reviews-titles h1 {
  line-height: 70px;
}
.reviews .reviews-wrapper {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: dense;
  grid-template-areas: "l s" "l b" "m b";
}
.reviews .reviews-wrapper .review {
  border-radius: 8px;
  background-color: var(--background-contrast, #1C1C1C);
  display: flex;
  flex-direction: column;
  transition: 200ms ease;
  outline: 2px solid transparent;
}
.reviews .reviews-wrapper .review .review-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}
.reviews .reviews-wrapper .review .review-header .user {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.55rem;
}
.reviews .reviews-wrapper .review .review-header .review-user-image {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}
.reviews .reviews-wrapper .review .review-header .rating {
  display: flex;
  align-items: baseline;
  gap: 2px;
  font-size: 1.25rem;
}
.reviews .reviews-wrapper .review .review-header .rating i {
  color: rgb(255, 215, 0);
}
.reviews .reviews-wrapper .review .review-text {
  padding: 1rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.3764705882);
  line-height: 27px;
  font-size: 1.05rem;
  height: 100%;
}
.reviews .reviews-wrapper .review .review-text p {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.reviews .reviews-wrapper .review:hover {
  outline: 2px solid rgba(255, 255, 255, 0.262745098);
  scale: 1.05;
}
.reviews .reviews-wrapper .review:nth-child(1) {
  grid-area: l;
}
.reviews .reviews-wrapper .review:nth-child(1) .review-text {
  background-color: rgba(144, 86, 67, 0.3450980392);
}
.reviews .reviews-wrapper .review:nth-child(2) {
  grid-area: s;
}
.reviews .reviews-wrapper .review:nth-child(2) .review-text {
  background-color: rgba(67, 144, 103, 0.3450980392);
}
.reviews .reviews-wrapper .review:nth-child(3) {
  grid-area: m;
}
.reviews .reviews-wrapper .review:nth-child(3) .review-text {
  background-color: rgba(124, 144, 67, 0.3450980392);
}
.reviews .reviews-wrapper .review:nth-child(4) {
  grid-area: b;
}
.reviews .reviews-wrapper .review:nth-child(4) .review-text {
  background-color: rgba(126, 47, 47, 0.3450980392);
}

@media (max-width: 1300px) {
  .hero {
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 50% 20% 10%;
  }
  .hero .hero-middle {
    grid-column: 1/3;
    padding: 1rem;
  }
  .hero .hero-middle .hero-slideshow {
    max-width: 900px;
    margin: 0 auto;
  }
  .hero .hero-middle .hero-slideshow img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .hero .hero-left, .hero .hero-right {
    grid-row: 3;
  }
}
@media (max-width: 700px) {
  .reviews .reviews-wrapper {
    display: flex;
    flex-direction: column;
  }
  .hero .hero-arrow-svg {
    display: none;
  }
  .hero .hero-middle {
    grid-column: 1/3;
    padding: 1rem;
  }
  .hero .hero-middle .hero-slideshow {
    max-width: 900px;
    margin: 0 auto;
  }
  .hero .hero-middle .hero-slideshow img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .hero .hero-left, .hero .hero-right {
    grid-row: 3;
  }
  .hero .hero-wave-svg {
    height: 100%;
  }
}
@media (max-width: 600px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: 20% 35% 15% 20% 10%;
  }
  .hero .hero-header {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .hero .hero-header #hero-title {
    line-height: 50px;
  }
  .hero .hero-header #hero-description {
    font-size: 1rem;
  }
  .hero .hero-right h1, .hero .hero-left h1 {
    font-size: 1.5rem;
  }
  .hero .hero-right {
    grid-row: 4;
  }
  .hero .hero-left {
    grid-row: 3;
  }
}
.form {
  padding: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.form .form-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  min-height: 600px;
  max-height: 800px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--background-contrast, #1C1C1C);
  border-radius: 8px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1882352941);
  overflow: hidden;
}
.form .form-wrapper .form-left {
  padding: 3vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form .form-wrapper .form-left .input {
  position: relative;
}
.form .form-wrapper .form-left .input .see-password {
  position: absolute;
  top: 50%;
  cursor: pointer;
  left: 95%;
  transition: 200ms ease;
  transform: translate(-50%, -50%);
}
.form .form-wrapper .form-left .input .see-password:hover {
  color: var(--accent-color, #D09683);
}
.form .form-wrapper .form-left .input .see-password:active {
  scale: 0.9;
}
.form .form-wrapper .form-left .m3 {
  font-size: 2rem !important;
}
.form .form-wrapper .form-left .login-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 100%;
}
.form .form-wrapper .form-left .login-form input {
  max-width: 100%;
}
.form .form-wrapper .form-left .login-form .submit-btn {
  font-size: 1.25rem;
  padding: 0.75rem;
}
.form .form-wrapper .form-right {
  background-color: var(--accent-color, #D09683);
  border-radius: 0 8px 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.form .form-wrapper .form-right .form-svg {
  position: absolute;
  z-index: 1;
  left: 0%;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.form .form-wrapper .form-right .form-svg:last-child {
  top: 95%;
}
.form .form-wrapper .form-right .other-form-method {
  position: relative;
  z-index: 99;
}
.form .form-wrapper .form-right .other-form-method h1 {
  font-weight: 400;
}

.errors .error-message {
  color: rgb(170, 0, 0);
}

@media (max-width: 900px) {
  .form .form-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr minmax(200px, 300px);
  }
  .form .form-wrapper .form-left {
    padding: 5vw;
  }
}
.side-navbar {
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  background-color: var(--background-contrast, #1C1C1C);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 999;
  align-items: center;
  padding: 1rem;
}
.side-navbar .settings-icon {
  margin-top: auto;
}
.side-navbar .side-navbar-item {
  cursor: pointer;
}
.side-navbar .side-navbar-item i {
  font-size: 1.75rem;
  transition: 200ms ease;
}
.side-navbar .side-navbar-item:hover i {
  color: var(--accent-color, #D09683);
}
.side-navbar .side-navbar-item:active i {
  scale: 0.9;
}

.logo {
  background-color: var(--background-contrast, #1C1C1C);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1;
  cursor: pointer;
}
.logo h1 {
  font-size: 2.7rem;
  padding: 1rem;
  font-family: var(--ff-logo, "Righteous");
}
.logo h1::first-letter {
  color: var(--accent-color, #D09683);
}

.side-nav {
  background-color: var(--background-contrast, #1C1C1C);
  border-radius: 8px;
  height: 100%;
  grid-column: 2/3;
}

.account {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: 80px auto;
  gap: 1rem;
  padding: 1vw;
  height: 100vh;
}
.account .account-header {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--ff-logo, "Righteous");
}
.account .account-header .account-option {
  cursor: pointer;
  transition: 200ms ease;
  position: relative;
}
.account .account-header .account-option .account-option-svg {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
}
.account .account-header .account-option-active {
  color: var(--accent-color, #D09683);
}
.account .account-header .account-option:hover {
  color: var(--accent-color, #D09683);
}

.account-slides {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 0.75rem;
  grid-auto-flow: dense;
  height: calc(100vh - 120px);
  overflow-y: auto;
  grid-auto-rows: 250px;
  overflow-x: hidden;
  padding-bottom: 75px;
}
.account-slides .add-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.account-slides .slide {
  background-color: var(--background-contrast, #1C1C1C);
  border-radius: 8px;
  cursor: pointer;
  outline: 2px solid transparent;
  transition: 200ms ease;
  height: 100%;
  position: relative;
}
.account-slides .slide .slide-options {
  position: absolute;
  z-index: 99;
  width: 30px;
  right: 0;
  height: 50px;
  display: grid;
  place-items: center;
}
.account-slides .slide .slide-options i {
  transition: 200ms ease;
}
.account-slides .slide .slide-options:hover i {
  color: var(--accent-color, #D09683);
}
.account-slides .card-slide {
  display: grid;
  grid-template-columns: 60% 40%;
}
.account-slides .card-slide .slide-text {
  display: grid;
  grid-template-rows: 35px auto 30px;
  padding: 0.5rem;
  row-gap: 0.5rem;
}
.account-slides .card-slide .slide-text .slide-title {
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-weight: 400;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.account-slides .card-slide .slide-text .slide-description {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  color: var(--secondary-text, rgba(255, 255, 255, 0.5019607843));
}
.account-slides .card-slide .slide-text .slide-last-updated {
  color: var(--accent-color, #D09683);
  font-size: minmax(0.2rem, 2vw);
}
.account-slides .card-slide .slide-thumbnail {
  position: relative;
  height: 250px;
}
.account-slides .card-slide .slide-thumbnail .card-image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, var(--background-contrast, #1C1C1C), rgba(0, 0, 0, 0));
}
.account-slides .card-slide .slide-thumbnail .slide-thumbnail-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 8px 8px 0;
}
.account-slides .note-slide {
  display: grid;
  grid-template-rows: 35px auto 30px;
  padding: 0.5rem;
  row-gap: 0.5rem;
}
.account-slides .note-slide .note-title {
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-weight: 400;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.account-slides .note-slide .note-description {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  color: var(--secondary-text, rgba(255, 255, 255, 0.5019607843));
}
.account-slides .note-slide .slide-last-updated {
  color: var(--accent-color, #D09683);
  font-size: minmax(0.2rem, 2vw);
}
.account-slides .exam-slide {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 0.5rem;
}
.account-slides .exam-slide .slide-text {
  display: grid;
  grid-template-rows: 35px auto 30px;
  padding: 0.5rem;
  row-gap: 0.5rem;
}
.account-slides .exam-slide .slide-text .slide-title {
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-weight: 400;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.account-slides .exam-slide .slide-text .slide-description {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  color: var(--secondary-text, rgba(255, 255, 255, 0.5019607843));
}
.account-slides .exam-slide .slide-text .slide-last-updated {
  color: var(--accent-color, #D09683);
  font-size: minmax(0.2rem, 2vw);
}
.account-slides .exam-slide .slide-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.account-slides .exam-slide .slide-right .exam-days-number {
  font-size: 4rem;
  color: var(--accent-color, #D09683);
  font-weight: 400;
}
.account-slides .exam-slide .slide-right .exam-days-number-bottom {
  line-height: 15px;
  font-size: 1.25rem;
}
.account-slides .slide:hover {
  outline: 2px solid var(--accent-color, #D09683);
}
.account-slides .slide:active {
  scale: 0.95;
}

.cards {
  position: relative;
}
.cards .practice-buttons {
  position: fixed;
  top: calc(100% - 50px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  width: 100%;
}
.cards .practice-buttons .practice-button {
  font-size: 1.25rem;
  width: 125px;
}
.cards .practice-buttons #practice-btn {
  border-radius: 8px 0 0 8px;
}
.cards .practice-buttons #quiz-btn {
  border-radius: 0 8px 8px 0;
}

.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5019607843);
  transition: 200ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
}
.modal-wrapper textarea {
  min-height: 150px;
}
.modal-wrapper .add-slide-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.modal-wrapper .add-slide-btn-wrapper {
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.modal-wrapper .add-slide-btn-wrapper .add-slide-btn {
  max-width: 200px;
  width: 100%;
}
.modal-wrapper .modal--wrapper {
  max-width: 900px;
  width: 100%;
  background-color: var(--background-contrast, #1C1C1C);
  border-radius: 8px;
  min-height: 600px;
  display: grid;
  grid-template-rows: 200px auto 75px;
  transition: 200ms ease;
  justify-items: center;
  padding: 1vw;
}
.modal-wrapper .settings {
  max-width: 900px;
  width: 100%;
  min-height: 500px;
  background-color: var(--background-contrast, #1C1C1C);
  border-radius: 8px;
  text-align: center;
  display: grid;
  grid-template-columns: 150px auto;
  gap: 1rem;
}
.modal-wrapper .settings .background-grid {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 1rem;
  grid-template-rows: auto;
  padding: 2px;
}
.modal-wrapper .settings .background-grid #custom-background-id {
  text-align: center;
}
.modal-wrapper .settings .background-grid .background-grid-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 150px;
  transition: 200ms ease;
  cursor: pointer;
  outline: 2px solid transparent;
  border-radius: 6px;
  flex: none;
}
.modal-wrapper .settings .background-grid .custom {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  width: 200px;
  height: 150px;
  flex-direction: column;
}
.modal-wrapper .settings .background-grid .default {
  display: grid;
  place-items: center;
}
.modal-wrapper .settings .background-grid .background-grid-image-active {
  outline: 2px solid var(--accent-color, #D09683);
}
.modal-wrapper .settings .background-grid .background-grid-image:active {
  scale: 0.9;
}
.modal-wrapper .settings .background-grid .background-grid-image:hover {
  outline: 2px solid var(--accent-color, #D09683);
}
.modal-wrapper .settings .settings-navbar {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  text-align: center;
  padding: 1rem 0;
}
.modal-wrapper .settings .settings-navbar .navbar-item {
  position: relative;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 1;
  border: 2px solid transparent;
  transition: 200ms ease;
  border-radius: 0 4px 4px 0;
  border-left: none;
}
.modal-wrapper .settings .settings-navbar .navbar-item:hover {
  border: 2px solid var(--accent-color, #D09683);
  border-left: none;
  scale: 1;
}
.modal-wrapper .settings .settings-navbar .navbar-item:active {
  transform: translateY(4px);
}
.modal-wrapper .settings .settings-navbar .navbar-item-active {
  background-color: var(--accent-color, #D09683);
}
.modal-wrapper .settings .settings-navbar::before {
  content: "";
  width: 2px;
  height: calc(100% - 2rem);
  border-radius: 8px;
  background-color: var(--accent-color, #D09683);
  right: -0.5vw;
  position: absolute;
}
.modal-wrapper .settings .settings-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 1rem;
  padding: 1vw;
}
.modal-wrapper .settings .settings-content .settings-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  border: 2px solid gray;
  padding: 1rem;
  border-radius: 6px;
}
.modal-wrapper .settings .settings-content .settings-container .change-username-form {
  display: flex;
  gap: 1rem;
}
.modal-wrapper .settings .settings-content .settings-container .change-username-form .input {
  max-width: 250px;
}
.modal-wrapper .settings .settings-content .settings-container .settings-title {
  font-weight: 400;
  font-size: 1.3rem;
}
.modal-wrapper .settings .settings-content .settings-container .cl-toggle-switch {
  display: flex;
  align-items: center;
}
.modal-wrapper .settings .settings-content .settings-container .cl-toggle-switch p {
  font-size: 1.25rem;
}
.modal-wrapper .slide-modal .thumbnail-image-wrapper {
  width: 100%;
  cursor: pointer;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}
.modal-wrapper .slide-modal .thumbnail-image-wrapper .thumbnail-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 200ms ease;
}
.modal-wrapper .slide-modal .thumbnail-image-wrapper:hover .thumbnail-image {
  scale: 1.2;
}
.modal-wrapper .slide-modal .color-select {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 1rem;
  overflow-x: auto;
  max-width: 900px;
  padding: 0.5rem 1rem;
}
.modal-wrapper .slide-modal .color-select .color {
  flex: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 40px;
  transition: 200ms ease;
  outline: 2px solid transparent;
}
.modal-wrapper .slide-modal .color-select .color:hover {
  scale: 1.1;
  outline: 2px solid white;
}
.modal-wrapper .slide-modal .color-select .color:active {
  scale: 0.9;
}
.modal-wrapper .slide-modal .color-select .color-select-active {
  outline: 2px solid white;
}
.modal-wrapper .notes-modal {
  display: grid;
  grid-template-rows: auto 75px;
  padding: 1vw;
}
.modal-wrapper .notes-modal textarea {
  height: 100%;
}
.modal-wrapper .exam-modal .slide-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
}
.modal-wrapper .exam-modal .slide-header #slide-days-left {
  color: var(--secondary-text, rgba(255, 255, 255, 0.5019607843));
  font-size: 1.15rem;
}
.modal-wrapper .exam-modal .slide-header input[type=date] {
  max-width: 400px;
  text-align: center;
}

.hamburger-wrapper {
  display: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5019607843);
}

.extended-navbar-wrapper {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.541);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
}

.extended-navbar {
  position: fixed;
  width: 100%;
  padding: 1rem;
  background-color: var(--background-contrast, #1C1C1C);
  top: 0;
  left: 0;
  text-align: center;
  display: grid;
  border-radius: 0 0 8px 8px;
  z-index: 2;
}
.extended-navbar .extended-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}
.extended-navbar .extended-wrapper .category-switch {
  background-color: var(--accent-color, #D09683);
  border-radius: 8px;
}
.extended-navbar .extended-wrapper .category-switch:active {
  scale: 0.9;
}
.extended-navbar .extended-navbar-item {
  font-size: 1.15rem;
  cursor: pointer;
  padding: 1rem;
  transition: 200ms ease;
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
}
.extended-navbar .extended-item-icon span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100px;
  margin: 0 auto;
}
.extended-navbar .extended-navbar-item:last-child {
  border-bottom: none;
}
.extended-navbar .extended-navbar-item:hover {
  background-color: var(--accent-color, #D09683);
  border-radius: 8px;
}

@media (max-width: 900px) {
  .modal-wrapper .settings {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 75px auto;
  }
  .modal-wrapper .settings .settings-navbar {
    grid-row: 1/2;
    grid-column: 1/2;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    max-width: 100%;
  }
  .modal-wrapper .settings .settings-navbar .navbar-item {
    border: 2px solid transparent;
    border-radius: 6px;
    font-size: 1rem;
  }
  .modal-wrapper .settings .settings-navbar .navbar-item:hover {
    border: 2px solid var(--accent-color, #D09683);
  }
  .modal-wrapper .settings .settings-navbar .navbar-item-active {
    background-color: var(--accent-color, #D09683);
  }
  .modal-wrapper .settings .settings-container {
    flex-direction: column;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
  }
  .logo {
    background-color: transparent;
  }
  .hamburger-wrapper {
    background-color: var(--background-contrast, #1C1C1C);
    border-radius: 8px;
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-left: auto;
    display: grid;
    place-items: center;
    margin-top: 10px;
  }
  .hamburger-wrapper .hamburger {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 20px;
    justify-content: space-between;
    gap: 0.1px;
    cursor: pointer;
  }
  .hamburger-wrapper .hamburger .line {
    width: 100%;
    height: 2px;
    background-color: white;
  }
  .account {
    gap: 1rem;
    padding: 1vw;
    height: 100vh;
  }
  .account .side-navbar {
    display: none;
  }
  .account .account-header {
    justify-content: center;
    align-items: center;
    display: none;
    grid-row: 1;
    grid-column: 1/3;
  }
  .side-nav {
    grid-row: 1;
    grid-column: 1/3;
  }
  .logo {
    grid-column: 1;
    grid-row: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .account-slides {
    grid-column: 1/3;
  }
}
@media (max-width: 500px) {
  .account-slides {
    position: relative;
    grid-template-columns: auto;
    grid-template-rows: 275px;
  }
  .account-slides .card-slide {
    grid-template-columns: auto;
  }
  .account-slides .card-slide .slide-thumbnail {
    position: absolute;
    z-index: -1;
    width: 250px;
    right: 0;
  }
  .account-slides .exam-slide {
    grid-template-rows: 75px auto;
    grid-template-columns: auto;
    gap: 0;
  }
  .account-slides .exam-slide .slide-right {
    flex-direction: row;
    gap: 0.5rem;
  }
  .account-slides .exam-slide .slide-right .exam-days-number-bottom {
    font-size: 1.5rem;
  }
  .account-slides .exam-slide .slide-text {
    grid-row: 2/3;
  }
  .account-slides .exam-slide .slide-text .slide-description {
    -webkit-line-clamp: 3;
    overflow: hidden;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.context-menu {
  position: fixed;
  transform: 200ms ease;
  width: 200px;
  z-index: 99999999;
  border-radius: 8px;
  background-color: var(--background-contrast, #1C1C1C);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.context-menu .context-option {
  padding: 1rem 0.5rem;
  transition: 200ms ease;
  cursor: pointer;
  border-bottom: 1px solid gray;
}
.context-menu .context-option:hover {
  background-color: var(--accent-color, #D09683);
}
.context-menu .context-option:last-child {
  border-bottom: none;
}

.practice {
  display: grid;
  width: 100%;
  grid-template-rows: auto 50px;
  gap: 1rem;
  padding: 1vw;
  height: calc(100vh - 120px);
  overflow: hidden;
  place-items: center;
}
.practice .cards {
  display: flex;
  gap: 1rem;
  align-items: center;
  max-width: 900px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.practice .card-wrapper {
  perspective: 2000px;
  width: 100%;
  margin: 0 auto;
  flex: none;
  height: 100%;
  max-width: 900px;
  transition: 200ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.practice .practice-card {
  padding: 1rem;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  width: 100%;
  height: 80%;
  position: relative;
}
.practice .practice-card .practice-card-side {
  display: grid;
  grid-template-rows: 100px auto;
  top: 0;
  left: 0;
  border-radius: 8px;
  place-items: center;
  text-align: center;
  padding: 1vw;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: var(--background-contrast, #1C1C1C);
  overflow-y: auto;
}
.practice .practice-card .practice-card-side h1 {
  font-size: calc(1rem + 1.5vmin);
  font-weight: 400;
  color: var(--secondary-text, rgba(255, 255, 255, 0.5019607843));
  transition: 200ms ease;
}
.practice .practice-card .practice-card-side .card-title {
  color: var(--accent-color, #D09683);
  font-weight: 400;
  font-size: 1.25rem;
}
.practice .practice-card .practice-card-back {
  transform: rotateY(180deg);
}
.practice .practice-card .practice-card-front {
  text-align: center;
}
.practice .practice-card:hover {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4392156863);
}
.practice .practice-card:hover .practice-card-side h1 {
  color: white;
}
.practice .flipped-card {
  transform: rotateY(-180deg);
}
.practice .practice-controls {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}
.practice .practice-controls .practice-next {
  text-align: right;
}
.practice .practice-controls .practice-control {
  cursor: pointer;
}
.practice .practice-controls .practice-control i {
  font-size: 2rem;
  transition: 200ms ease;
}
.practice .practice-controls .practice-control:hover i {
  color: var(--accent-color, #D09683);
  scale: 1.15;
}

@media (max-width: 900px) {
  .practice {
    grid-column: 1/3;
  }
}
.quiz-wrapper {
  display: grid;
  place-items: center;
  height: auto;
}
.quiz-wrapper .quiz {
  background-color: var(--background-contrast, #1C1C1C);
  border-radius: 8px;
  display: grid;
  gap: 1rem;
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
  min-height: 60vh;
}
.quiz-wrapper .quiz .quiz-progress {
  text-align: center;
  padding: 1vw;
}
.quiz-wrapper .quiz .quiz-progress .quiz-progress-value {
  font-size: 1.25rem;
  color: var(--secondary-text, rgba(255, 255, 255, 0.5019607843));
}
.quiz-wrapper .quiz .quiz-progress .quiz-progress-value span:first-child {
  color: var(--accent-color, #D09683);
}
.quiz-wrapper .quiz .question-wrapper {
  overflow-y: auto;
  height: 100%;
  padding: 1vw;
  text-align: center;
  display: grid;
  place-items: center;
  overflow-y: auto;
  max-height: 150px;
}
.quiz-wrapper .quiz .question-wrapper #question {
  font-size: calc(1.25rem + 1.25vmin);
  font-weight: 600;
}
.quiz-wrapper .quiz .answers {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1vw;
  grid-auto-rows: 1fr;
}
.quiz-wrapper .quiz .answers .answer {
  max-width: 100%;
  width: 100%;
  height: 75px;
  display: grid;
  place-items: center;
  overflow-y: auto;
  outline: 2px solid var(--accent-color, #D09683);
  border-radius: 8px;
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
  transition: 200ms ease;
  position: relative;
}
.quiz-wrapper .quiz .answers .answer .answer-index {
  position: absolute;
  top: 50%;
  color: var(--secondary-text, rgba(255, 255, 255, 0.5019607843));
  left: 1rem;
  transform: translate(-50%, -50%);
}
.quiz-wrapper .quiz .answers .answer .answer-text {
  font-size: 1.25rem;
}
.quiz-wrapper .quiz .answers .answer-wrong {
  background-color: #db4545;
  outline: 2px solid transparent;
}
.quiz-wrapper .quiz .answers .answer-correct {
  background-color: #3eb13e;
  outline: 2px solid transparent;
}
.quiz-wrapper .quiz .answers .answer-selected {
  outline: 2px solid var(--accent-color, #D09683);
}
.quiz-wrapper .quiz .answers .answer:hover {
  background-color: var(--accent-color, #D09683);
}
.quiz-wrapper .footer {
  background-color: var(--background-contrast, #1C1C1C);
  display: grid;
  grid-template-columns: auto 100px;
  align-items: center;
  height: 100%;
  border-top: 2px solid var(--accent-color, #D09683);
  transition: 200ms ease;
  transform: translateY(100%);
}
.quiz-wrapper .footer .message {
  text-align: center;
  margin-left: 100px;
  font-weight: 400;
  font-size: 1.5rem;
}
.quiz-wrapper .footer .next-question {
  width: 50px;
  height: 50px;
  background-color: var(--accent-color, #D09683);
  color: white;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5019607843);
  transition: 200ms ease;
  display: grid;
  place-items: center;
}
.quiz-wrapper .footer .next-question i {
  font-size: 1.5rem;
}
.quiz-wrapper .footer .next-question:hover {
  scale: 1.1;
}
.quiz-wrapper .footer .next-question:active {
  scale: 1;
}
.quiz-wrapper .footer-active {
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2509803922);
  transform: translateY(0);
}

@media (max-width: 900px) {
  .quiz-wrapper {
    height: calc(100vh - 120px);
    grid-column: 1/3;
  }
  .quiz-wrapper .quiz {
    gap: 1rem;
  }
  .quiz-wrapper .quiz .answers .answer {
    height: 65px;
    padding: 0.25em;
  }
  .quiz-wrapper .quiz .answers .answer .answer-text {
    font-size: 1.15rem;
  }
  .quiz-wrapper .quiz .footer {
    grid-template-columns: auto auto;
    padding: 1vw 2vw;
  }
  .quiz-wrapper .quiz .footer .next-question {
    margin-left: auto;
  }
  .quiz-wrapper .quiz .footer .message {
    text-align: left;
    font-size: 1.25rem;
    margin-left: 0;
  }
}
.quiz-result {
  display: flex;
  text-align: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
}
.quiz-result .quiz-result-message {
  font-size: clamp(2rem, 5vw, 3rem);
}
.quiz-result .result-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
}
.quiz-result .result-wrapper .result .answer-count {
  font-size: clamp(4rem, 5vw, 5rem);
  color: var(--accent-color, #D09683);
}
.quiz-result .result-wrapper .result #correct-answer {
  color: #3eb13e;
}
.quiz-result .result-wrapper .result #wrong-answer {
  color: #db4545;
}
.quiz-result .result-wrapper .result .answer-text {
  color: var(--secondary-text, rgba(255, 255, 255, 0.5019607843));
  line-height: 5px;
}
.quiz-result .btn-wrapper {
  display: flex;
  gap: 1rem;
}

@media (max-width: 450px) {
  .quiz-wrapper .quiz .answers {
    grid-template-columns: auto;
  }
}
.chart-wrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.chart-wrapper .chart {
  width: 100%;
  height: 80vh;
}

@media (max-width: 900px) {
  .chart-wrapper {
    height: calc(100vh - 100px);
    grid-column: 1/3;
  }
}/*# sourceMappingURL=main.css.map */