@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
  margin: 0;
  padding: 0;
  top: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

img {
  max-width: 100%;
}

button, input, textarea {
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif !important;
}

a {
  text-decoration: none;
  color: darkcyan;
}

::-moz-selection {
  background-color: #D09683;
  color: white;
}

::selection {
  background-color: #D09683;
  color: white;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #121212;
  color: #FFFFFF;
  font-weight: 400;
}

#root {
  display: grid;
  grid-template-rows: 80px minmax(calc(100vh - 200px), auto);
}

.accent {
  color: #D09683;
}

.accent-font {
  font-family: "Indie Flower", cursive;
}

.secondary-text {
  color: rgba(255, 255, 255, 0.5019607843);
  text-align: center;
}

.m3 {
  font-size: calc(3.5vmin + 1.5rem) !important;
}

.m2 {
  font-size: calc(1vmin + 1rem) !important;
}

.m1 {
  font-size: 1rem;
}

.section-spacing {
  margin: 200px 0;
}

input {
  background-color: #1C1C1C;
  outline: 2px solid #D09683;
  font-size: 1.25rem;
  color: white;
  padding: 0.75em;
  width: 100%;
  border-radius: 4px;
  transition: 200ms ease;
}

input:hover {
  outline: 2px solid rgba(208, 150, 131, 0.7960784314);
}

input:focus {
  background-color: #121212;
}

.navbar {
  width: 100%;
  background-color: #121212;
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
}
.navbar #logo {
  font-size: 3rem;
  font-family: "Righteous";
  cursor: pointer;
  transition: 200ms ease;
}
.navbar #logo:active {
  scale: 0.95;
}
.navbar #logo::first-letter {
  color: #D09683;
}

.footer {
  background-color: #1C1C1C;
  width: 100%;
  display: grid;
  padding: 0.5rem;
  height: 120px;
}
.footer #copyright {
  text-align: center;
}

button {
  font-family: "Inter";
  cursor: pointer;
}

.secondary-btn {
  padding: 0.5em 0.9em;
  font-size: 1.25rem;
  background-color: transparent;
  color: #FFFFFF;
  outline: none;
  border: none;
  border: 2px dashed #D09683;
  border-radius: 8px;
  transition: 200ms ease;
}

.secondary-btn:hover {
  border: 2px dotted #D09683;
  transform: translateY(-2px);
}

.secondary-btn:active {
  scale: 0.9;
}

.primary-btn {
  padding: 0.5em 0.9em;
  font-size: 1.15rem;
  background-color: #D09683;
  color: #FFFFFF;
  outline: none;
  border: none;
  border: 2px solid rgba(144, 86, 67, 0.3450980392);
  border-radius: 8px;
  transition: 100ms ease;
  box-shadow: 0 4px 0 rgba(144, 86, 67, 0.3450980392);
}

.primary-btn:hover {
  background-color: rgba(208, 150, 131, 0.7960784314);
}

.primary-btn:active {
  transform: translateY(4px);
  box-shadow: 0 1px 0 rgba(144, 86, 67, 0.3450980392);
}

.hero {
  height: calc(100vh - 80px);
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 20% 70% 10%;
}
.hero .hero-header {
  grid-column: 1/4;
  text-align: center;
  z-index: 2;
  position: static;
}
.hero .hero-header #hero-title {
  line-height: 70px;
}
.hero .hero-header #hero-description {
  color: rgba(255, 255, 255, 0.5019607843);
}
.hero .hero-header div {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.hero .hero-header .hero-arrow-svg {
  max-width: 100px;
  position: absolute;
  right: -100px;
  top: 25px;
}
.hero .hero-left, .hero .hero-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero .hero-left h1, .hero .hero-right h1 {
  margin-bottom: 0.5rem;
}
.hero .hero-left p {
  line-height: 0;
}
.hero .hero-left #hero-dinamic-text {
  font-weight: 400;
}
.hero .hero-left .hero-underline-svg {
  max-width: 250px;
  width: 100%;
}
.hero .hero-middle {
  display: grid;
  grid-template-rows: 90% 10%;
  height: 100%;
}
.hero .hero-middle .hero-slideshow {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
.hero .hero-middle .hero-slideshow .hero-slideshow-image {
  flex: none;
  transition: 0.5s ease;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero .hero-middle .hero-slideshow-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.hero .hero-middle .hero-slideshow-buttons .hero-slideshow-button {
  background-color: #1C1C1C;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  transition: 200ms ease;
}
.hero .hero-middle .hero-slideshow-buttons .hero-slideshow-button:not(.hero-slideshow-button-active):hover {
  background-color: rgba(144, 86, 67, 0.3450980392);
}
.hero .hero-middle .hero-slideshow-buttons .hero-slideshow-button-active {
  background-color: #D09683;
}
.hero .hero-right .primary-text {
  font-weight: 400;
}
.hero .svg-test {
  grid-column: 1/4;
  overflow: hidden;
}
.hero .hero-wave-svg {
  width: 100%;
}

.feed {
  height: 100vh;
  display: grid;
  grid-template-rows: 40% 60%;
  text-align: center;
}
.feed .feed-header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
}
.feed .feed-header .search-feed-wrapper {
  background-color: rgba(144, 86, 67, 0.3450980392);
  border-radius: 4px;
  position: relative;
  display: grid;
  grid-template-columns: auto 50px;
}
.feed .feed-header .search-feed-wrapper .search-icon-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  border-radius: 0 8px 8px 0;
  transition: 200ms ease;
}
.feed .feed-header .search-feed-wrapper .search-icon-wrapper:hover {
  background-color: #D09683;
}
.feed .feed-header .search-feed-wrapper .search-icon-wrapper:hover #search-icon {
  transform: translateY(-2px);
}
.feed .feed-header .search-feed-wrapper .search-icon-wrapper::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: #D09683;
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
}
.feed .feed-header .search-feed-wrapper #search-icon {
  font-size: 25px;
  cursor: pointer;
  transition: 200ms ease;
}
.feed .feed-header .search-feed-wrapper #search-feed {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.25rem;
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 4px 0 0 4px;
  outline: 1px solid transparent;
  transition: 200ms ease;
}
.feed .feed-header .search-feed-wrapper #search-feed:focus {
  background-color: #1C1C1C;
  outline: 1px solid #D09683;
}
.feed .feed-content {
  display: grid;
  row-gap: 1rem;
}
.feed .feed-content .feed-row {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  overflow: hidden;
  padding: 0.5rem;
}
.feed .feed-content .feed-row .feed-item {
  max-width: 100%;
  width: 100%;
  min-width: 300px;
  cursor: pointer;
  height: 100%;
  border-radius: 8px;
  background-color: #1C1C1C;
  transition: 200ms ease;
  outline: 2px solid transparent;
}
.feed .feed-content .feed-row .feed-item:hover {
  outline: 2px solid #D09683;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3764705882);
}

.reviews {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
}
.reviews svg {
  position: absolute;
  max-height: 700px;
  height: 100%;
  top: 60%;
  z-index: -1;
  left: 0%;
  transform: translate(-50%, -50%);
}
.reviews #reviews-right-svg {
  left: 95%;
}
.reviews .reviews-titles {
  text-align: center;
}
.reviews .reviews-titles h1 {
  line-height: 70px;
}
.reviews .reviews-wrapper {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: dense;
  grid-template-areas: "l s" "l b" "m b";
}
.reviews .reviews-wrapper .review {
  border-radius: 8px;
  background-color: #1C1C1C;
  display: flex;
  flex-direction: column;
  transition: 200ms ease;
  outline: 2px solid transparent;
}
.reviews .reviews-wrapper .review .review-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}
.reviews .reviews-wrapper .review .review-header .user {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.55rem;
}
.reviews .reviews-wrapper .review .review-header .review-user-image {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}
.reviews .reviews-wrapper .review .review-header .rating {
  display: flex;
  align-items: baseline;
  gap: 2px;
  font-size: 1.25rem;
}
.reviews .reviews-wrapper .review .review-header .rating i {
  color: rgb(255, 215, 0);
}
.reviews .reviews-wrapper .review .review-text {
  padding: 1rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.3764705882);
  line-height: 27px;
  font-size: 1.05rem;
  height: 100%;
}
.reviews .reviews-wrapper .review .review-text p {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.reviews .reviews-wrapper .review:hover {
  outline: 2px solid rgba(255, 255, 255, 0.262745098);
  scale: 1.05;
}
.reviews .reviews-wrapper .review:nth-child(1) {
  grid-area: l;
}
.reviews .reviews-wrapper .review:nth-child(1) .review-text {
  background-color: rgba(144, 86, 67, 0.3450980392);
}
.reviews .reviews-wrapper .review:nth-child(2) {
  grid-area: s;
}
.reviews .reviews-wrapper .review:nth-child(2) .review-text {
  background-color: rgba(67, 144, 103, 0.3450980392);
}
.reviews .reviews-wrapper .review:nth-child(3) {
  grid-area: m;
}
.reviews .reviews-wrapper .review:nth-child(3) .review-text {
  background-color: rgba(124, 144, 67, 0.3450980392);
}
.reviews .reviews-wrapper .review:nth-child(4) {
  grid-area: b;
}
.reviews .reviews-wrapper .review:nth-child(4) .review-text {
  background-color: rgba(126, 47, 47, 0.3450980392);
}

@media (max-width: 1300px) {
  .hero {
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 50% 20% 10%;
  }
  .hero .hero-middle {
    grid-column: 1/3;
    padding: 1rem;
  }
  .hero .hero-middle .hero-slideshow {
    max-width: 900px;
    margin: 0 auto;
  }
  .hero .hero-middle .hero-slideshow img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .hero .hero-left, .hero .hero-right {
    grid-row: 3;
  }
}
@media (max-width: 700px) {
  .reviews .reviews-wrapper {
    display: flex;
    flex-direction: column;
  }
  .hero .hero-arrow-svg {
    display: none;
  }
  .hero .hero-middle {
    grid-column: 1/3;
    padding: 1rem;
  }
  .hero .hero-middle .hero-slideshow {
    max-width: 900px;
    margin: 0 auto;
  }
  .hero .hero-middle .hero-slideshow img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .hero .hero-left, .hero .hero-right {
    grid-row: 3;
  }
  .hero .hero-wave-svg {
    height: 100%;
  }
}
@media (max-width: 600px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: 20% 35% 15% 20% 10%;
  }
  .hero .hero-header {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .hero .hero-header #hero-title {
    line-height: 50px;
  }
  .hero .hero-header #hero-description {
    font-size: 1rem;
  }
  .hero .hero-right h1, .hero .hero-left h1 {
    font-size: 1.5rem;
  }
  .hero .hero-right {
    grid-row: 4;
  }
  .hero .hero-left {
    grid-row: 3;
  }
}
.form {
  padding: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.form .form-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  min-height: 600px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #1C1C1C;
  border-radius: 8px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1882352941);
  overflow: hidden;
}
.form .form-wrapper .form-left {
  padding: 3vw;
  text-align: center;
  display: grid;
  grid-template-rows: 50px auto 50px;
  gap: 1rem;
}
.form .form-wrapper .form-left .m3 {
  font-size: 2rem !important;
}
.form .form-wrapper .form-left .login-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 100%;
}
.form .form-wrapper .form-left .login-form input {
  max-width: 100%;
}
.form .form-wrapper .form-left .login-form .submit-btn {
  font-size: 1.25rem;
  padding: 1rem;
}
.form .form-wrapper .form-right {
  background-color: #D09683;
  border-radius: 0 8px 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.form .form-wrapper .form-right .form-svg {
  position: absolute;
  left: 0%;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.form .form-wrapper .form-right .form-svg:last-child {
  top: 95%;
}
.form .form-wrapper .form-right .other-form-method h1 {
  font-weight: 400;
}

@media (max-width: 900px) {
  .form .form-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr minmax(200px, 300px);
  }
  .form .form-wrapper .form-left {
    padding: 5vw;
  }
}/*# sourceMappingURL=main.css.map */